extends layout

block content
  script.
    function move() {
        window.location.href = '/'
    }
  div(class="form-div") 
    form(class="form" action="/new" method="POST") 
      h2= title 
      div 
          | User : 
          input(type="text" name="user" placeholder="Name")
      div  
          textarea(name="text", cols="30", rows="7", placeholder="Enter your message here...")
      button(type='submit' class="submit-button") Add
      
    button(onclick="move()" class="cancel-button") Cancel
      
    h2(class="error")=error 
