extends layout

block content
  script.
    function move() {
        window.location.href = '/'
    }

  form(action="/new", method="POST") 
    h2= title 
    p 
        | User : 
        input(type="text", name="user")
        | Text :
        input(type="text", name="text")
    button(type='submit') Add
    
  button(onclick="move()") Cancel
    
  h2=error 
