body {
  padding: 5rem 10rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #9DF1DF;
}

a {
  color: #00B7FF;
}

.heading{
  text-align: center;
  margin-bottom: 50px;
  color: #800020;
  font-size: 3rem;
  border-bottom: 5px solid #1F51FF;
}

.main{
  border-radius: 15px;
  background-color: #FFEA20;
  box-shadow: 2px 2px 2px #8DCBE6;
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.message-card{
  background-color: #8DCBE6;
  border: 3px solid #50C878;
  border-radius: 5px;
  padding: 1rem 2rem;
  width: 100%;
  position: relative;
  box-shadow: 2px 2px 2px #998c13;
}

.date{
  position: absolute;
  bottom: 1rem;
  right: 2rem; 
}

.add-button{
  background-color: #FF3131;
  padding: 10px 20px;
  color: #ffffff;
  border: none;
  font-size: larger;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #998c13;
}

.add-button:hover{
  transition: 0.3s;
  background-color: #D2042D;
  box-shadow: 2px 2px 5px #998c13;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #FF3131;
  padding: 2rem 3rem;
  color: #060313;
  margin: 3rem;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 4px #8DCBE6;
  border-radius: 10px;
}
.form input,textarea{
  background-color: #AEC359;
  outline: none;
  border: none;
  resize: none;
  overflow: hidden;
  padding: 10px;
  border: 2px solid #732409;
}

.submit-button,.cancel-button{
  padding: 10px;
  width: 10vw; 
  border: 2px solid #732409;
  background-color: #9CA2FA;
  font-weight: bolder;
}
.submit-button:hover, .cancel-button:hover{
  transition: 0.3s;
  background-color: #F2F3DD;
}

.form-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error{
  color: #D2042D;
}